# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true


# Every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

# Python (includes isort configuration)
[*.py]
multi_line_output=3
line_length=79
indent=4
length_sort=false
include_trailing_comma=True
force_sort_within_sections=True
default_section=FIRSTPARTY

# Overrides for specific types
[Makefile]
indent_style = tab

[*.sh]
indent_style = tab
